---
import Section from '@/components/Sections.astro'

import {projects} from '@cv'
---

<Section title="Projectos">

    <ul>
        {
            projects.map(({url, name, description, highlights}) => {

                return(
                    <li>
                        <article>
                            <header>
                                <a href={url}
                                   title=`Ver proyecto ${name}`
                                   target="_blank"
                                   > <h3>{name}</h3> 
                                </a>
                                <p>
                                    {description}
                                </p>
                            </header>
                            <footer>
                                {
                                    highlights.map((highlight) => {
                                        return(
                                            <li>{highlight}</li>
                                        )
                                    })
                                }
                            </footer>
                        </article>
                    </li>
                )
            })
        }
    </ul>

</Section>

<style>
    header{
        margin-bottom: 0.5rem;
    }
    header a{
        color: #8B5FBF;
        display: inline-block;
    }
    header a:hover{
        color: #9a7cbd;
    }
    ul{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    footer li{
        /* background-color: #E9E4ED; */
        padding: 0.1rem 0.3rem;
    }
    li{
        border: 1.5px solid #8B5FBF;
        color: #8B5FBF;
        padding: .5rem;
        border-radius: 5px;
    }
</style>